DATABASE_URL=postgresql://username:password@host/database?sslmode=require
AUTH_COOKIE_NAMES=connect.sid
AUTH_ALLOWED_ROLES=admin,owner,super_admin,hr_admin,ops_manager,manager
DISCORD_WEBHOOK_URL=
DEBUG_ENDPOINTS=0
AUTH_MODE=express_session
SESSION_SECRET=
SESSION_TABLE=session
SESSION_SID_COLUMN=sid
SESSION_JSON_COLUMN=sess
SESSION_EXPIRES_COLUMN=expire
HR_ADMIN_ACCESS_CODE=
HR_ADMIN_TOKEN_SECRET=
HR_ADMIN_TOKEN_TTL_DAYS=7
HR_ADMIN_COOKIE_DOMAIN=.oceanluxe.org
SOFI_REFERRAL_LINK=https://www.sofi.com/invite/relay?gcp=c9a39588-1748-482c-846b-265e608a8e2a&isAliasGcp=false
VITE_SOFI_REFERRAL_LINK=https://www.sofi.com/invite/relay?gcp=c9a39588-1748-482c-846b-265e608a8e2a&isAliasGcp=false
AGENT_SESSION_COOKIE_DOMAIN=.oceanluxe.org
AGENT_SESSION_TTL_DAYS=30
